## Question 1

In [40]:
#(a)
import pandas as pd
import numpy as np
import random

df_example = pd.DataFrame(
    {
        '1': [1,2,3,4,5],
        '2': ['A', 'B', 'C', 'D', 'E'],
    }
)
t = 4
if len(df_example) >= t:
    sample = np.random.choice(df_example.values.flatten(), t, replace=False) #convert panda to a numpy array so we can use random.choice
    print(sample)
else:
    print('t need to be less than or equal to k')

['C' 'A' 4 'D']

In [41]:
#(b)
# Create a list of 18 car names
car_names = ["Fiat", "Ferrari", "Audi", "Toyota", "Honda", "Tesla", "Ford", "Chevrolet", "Porsche", "Bentley", "BMW", "Nissan", "Hyundai", "Volkswagen", "Mercedes-Benz", "Kia", "Lexus", "Mazda"]

df1 = pd.DataFrame({'Name': random.sample(car_names, 10),
                    'MPG': [random.uniform(5, 50) for _ in range(10)]})

df2 = pd.DataFrame({'Name': random.sample(car_names, 10),
                    'SecondsTo60': [random.uniform(1, 20) for _ in range(10)]})

In [42]:
#(c)
df = pd.merge(df1, df2, on='Name', how='outer')
print(df)

         Name        MPG  SecondsTo60
0       Lexus  36.571095     2.425981
1     Ferrari  26.842825    18.889672
2     Porsche  14.087200          NaN
3        Fiat  43.739121     4.391296
4   Chevrolet  11.296228          NaN
5      Toyota  15.529265    19.140341
6       Tesla   6.576222    18.832634
7      Nissan  44.682927          NaN
8        Audi   6.090674     6.694843
9        Ford  32.861212          NaN
10        BMW        NaN     9.809236
11      Mazda        NaN    15.578504
12    Hyundai        NaN    16.458887
13      Honda        NaN     1.220328

In [43]:
#(d)
df['MPG'].fillna(df['MPG'].mean(), inplace=True)
df['SecondsTo60'].fillna(df['SecondsTo60'].max(), inplace=True)
print(df)

         Name        MPG  SecondsTo60
0       Lexus  36.571095     2.425981
1     Ferrari  26.842825    18.889672
2     Porsche  14.087200    19.140341
3        Fiat  43.739121     4.391296
4   Chevrolet  11.296228    19.140341
5      Toyota  15.529265    19.140341
6       Tesla   6.576222    18.832634
7      Nissan  44.682927    19.140341
8        Audi   6.090674     6.694843
9        Ford  32.861212    19.140341
10        BMW  23.827677     9.809236
11      Mazda  23.827677    15.578504
12    Hyundai  23.827677    16.458887
13      Honda  23.827677     1.220328

In [44]:
#(e)
df['Name'] = 'Awesome ' + df['Name']
print(df)

                 Name        MPG  SecondsTo60
0       Awesome Lexus  36.571095     2.425981
1     Awesome Ferrari  26.842825    18.889672
2     Awesome Porsche  14.087200    19.140341
3        Awesome Fiat  43.739121     4.391296
4   Awesome Chevrolet  11.296228    19.140341
5      Awesome Toyota  15.529265    19.140341
6       Awesome Tesla   6.576222    18.832634
7      Awesome Nissan  44.682927    19.140341
8        Awesome Audi   6.090674     6.694843
9        Awesome Ford  32.861212    19.140341
10        Awesome BMW  23.827677     9.809236
11      Awesome Mazda  23.827677    15.578504
12    Awesome Hyundai  23.827677    16.458887
13      Awesome Honda  23.827677     1.220328

In [45]:
#(f)
median_MPG = df['MPG'].median()
df_eco = df[df['MPG'] > median_MPG]
print(df_eco)

              Name        MPG  SecondsTo60
0    Awesome Lexus  36.571095     2.425981
1  Awesome Ferrari  26.842825    18.889672
3     Awesome Fiat  43.739121     4.391296
7   Awesome Nissan  44.682927    19.140341
9     Awesome Ford  32.861212    19.140341

## Question 2

In [3]:
#create two csv files for ingredients and pastries

import pandas as pd
import numpy as np
from scipy.optimize import linprog
import csv

ingredients_data = [
    ["Yeast", "Flour", "Sugar"],
    [57.5, 112.5, 245]
] #create the data for ingredients
pastries_data = [
    {"Name": "Apple Pie", "Price": 2.99, "Yeast": 0, "Flour": 0.75, "Sugar": 1.50},
    {"Name": "Croissant", "Price": 2.50, "Yeast": 0.5, "Flour": 1.5, "Sugar": 0.25},
    {"Name": "Poppy seed roll", "Price": 5.99, "Yeast": 1.15, "Flour": 1.5, "Sugar": 0.75}
] #create the data for pastries

with open('ingredients.csv', mode="w", newline='') as file:
    writer = csv.writer(file)
    for row in ingredients_data: #write in the data
        writer.writerow(row)

field_names = ["Name", "Price", "Yeast", "Flour", "Sugar"] #create the column names
with open('pastries.csv', mode="w", newline='') as file:
    writer = csv.DictWriter(file, fieldnames=field_names)
    writer.writeheader()
    for row in pastries_data: #write in the data
        writer.writerow(row)

In [4]:
#Read in the csv for both ingredients and pastries
ingredients_df = pd.read_csv('ingredients.csv')
available_yeast = ingredients_df['Yeast'][0]
available_flour = ingredients_df['Flour'][0]
available_sugar = ingredients_df['Sugar'][0]

pastries_df = pd.read_csv('pastries.csv')
print(ingredients_df)
print(pastries_df)

   Yeast  Flour  Sugar
0   57.5  112.5    245
              Name  Price  Yeast  Flour  Sugar
0        Apple Pie   2.99   0.00   0.75   1.50
1        Croissant   2.50   0.50   1.50   0.25
2  Poppy seed roll   5.99   1.15   1.50   0.75

In [5]:
#Optimization 
c = -pastries_df['Price'].values# Define the coefficients for the objective function (negate for maximization)

A = np.vstack([pastries_df['Yeast'].values, pastries_df['Flour'].values, pastries_df['Sugar'].values])
b = np.array([available_yeast, available_flour, available_sugar]) # Define the coefficients for the inequality constraints

x_bounds = [(0, None)] * len(pastries_df) # Define bounds for decision variables (number of pastries)
print(x_bounds) #一共三种pastries，每种都要大于等于0 （x>=o）

result = linprog(c, A_ub=A, b_ub=b, bounds=x_bounds, method='highs')# Solve the linear programming problem

solution = result.x # Extract the solution

total_profit = -result.fun # Calculate the total profit

# Print the results
print("The max profit is {:.2f} and can be achieved by producing:".format(total_profit))
for i, pastry in enumerate(pastries_df['Name']): #print each type of pastry
        print("* {}: {:.2f} pieces".format(pastry, solution[i]))

[(0, None), (0, None), (0, None)]
The max profit is 449.00 and can be achieved by producing:
* Apple Pie: 50.00 pieces
* Croissant: 0.00 pieces
* Poppy seed roll: 50.00 pieces